.mainheader {
  background-color: lightgrey;
  padding: 20px 0;

  .region-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .site-logo {
      img {
        width: 60px;
      }
    }
  }
}
